.react-contextmenu {
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
  max-height: 320px;
  max-width: 300px;
  border-radius: 2px;
  padding: 1px;
  border: 1px solid #4d4d4d;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
  z-index: 10;
}

.react-contextmenu-item {
  padding: 5px 10px;
  cursor: pointer;
  line-height: 1.5;
}

.react-contextmenu-submenu .react-contextmenu {
  width: 300px;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  font-size: 12px;
}

.react-contextmenu-submenu .react-contextmenu--visible {
  opacity: 1;
  visibility: visible;
}

.react-contextmenu-item:hover {
  background-color: #f3f3f3;
  color: #ffa400;
}

.react-contextmenu-item:hover .icon {
  color: #ffa400;
}

.react-contextmenu-item.react-contextmenu-submenu .react-contextmenu-item {
  padding: 5px 10px;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding-right: 20px;
}

.react-contextmenu-item--divider {
  margin: 3px 10px;
  padding: 0;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  cursor: default;
}

.react-contextmenu::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.react-contextmenu::-webkit-scrollbar-thumb {
  background-color: #ffa400;
  border-radius: 8px;
}

.react-contextmenu::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 8px;
}
