.react-contextmenu {
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
  max-height: 320px;
  max-width: 300px;
  border-radius: 2px;
  padding: 1px;
  border: 1px solid #4d4d4d;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  z-index: 100;
}

.react-contextmenu-item {
  padding: 5px 10px;
  cursor: pointer;
  line-height: 1.5;
  user-select: none;
}

.react-contextmenu-submenu .react-contextmenu {
  width: 250px;
  opacity: 0;
  visibility: hidden;
  margin-top: -2px;
  font-size: 12px;
}

.react-contextmenu-submenu .react-contextmenu.is-overflow {
  overflow-y: auto;
}

.react-contextmenu-submenu .react-contextmenu.is-smaller {
  width: 150px;
}

.react-contextmenu-submenu .react-contextmenu--visible {
  opacity: 1;
  visibility: visible;
}

.react-contextmenu-item:hover {
  background-color: #f3f3f3;
  color: #ffa400;
}

.react-contextmenu-item.react-contextmenu-submenu .react-contextmenu-item {
  padding: 5px 12px 5px 10px;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding-right: 20px;
}

.react-contextmenu-item--divider {
  margin: 3px 0;
  padding: 0;
  height: 2px;
  border-top: 1px solid #e6e6e6;
  cursor: default;
  pointer-events: none;
}

.react-contextmenu::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.react-contextmenu::-webkit-scrollbar-thumb {
  background-color: #ffa400;
  border-radius: 8px;
}

.react-contextmenu::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 8px;
}
