.context-menu {
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
  max-height: 292px;
  max-width: 450px;
  border-radius: 2px;
  overflow-y: auto;
  border: 1px solid #4d4d4d;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
  z-index: 10;
}

.context-menu .react-contextmenu-item {
  padding: 5px 10px;
  margin-bottom: 1px;
  cursor: pointer;
  line-height: 1.5;
}

.context-menu .react-contextmenu-item:hover {
  background-color: #f3f3f3;
}

.context-menu .react-contextmenu-item:hover * {
  color: #ffa400;
}

.context-menu .react-contextmenu-item--divider {
  margin: 3px 0;
  padding: 0;
  height: 1px;
  background-color: #ffffff;
}

.context-menu::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.context-menu::-webkit-scrollbar-thumb {
  background-color: #ffa400;
  border-radius: 8px;
}

.context-menu::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 8px;
}
