.context-menu {
  color: #ffffff;
  font-size: 13px;
}

.context-menu .react-contextmenu-item {
  padding: 7px 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
}

.context-menu .react-contextmenu-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.context-menu .react-contextmenu-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.context-menu .react-contextmenu-item:hover {
  background-color: rgba(0, 0, 0, .6);
}

.context-menu .react-contextmenu-item--divider {
  margin: 3px 0;
  padding: 0;
  height: 1px;
  background-color: #ffffff;
}
