.context-menu {
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
  max-height: 300px;
  max-width: 300px;
  border-radius: 2px;
  overflow-y: auto;
  border: 1px solid #4d4d4d;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.context-menu .react-contextmenu-item {
  padding: 6px 10px;
  margin-bottom: 1px;
  cursor: pointer;
}

.context-menu .react-contextmenu-item .item-text {
  line-height: 1.5;
  border-bottom: 1px solid transparent;
}

.context-menu .react-contextmenu-item:hover .item-text {
  border-bottom-color: #ffa400;
}

.context-menu .react-contextmenu-item--divider {
  margin: 3px 0;
  padding: 0;
  height: 1px;
  background-color: #ffffff;
}

.context-menu::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.context-menu::-webkit-scrollbar-thumb {
  background-color: #ffa400;
  border-radius: 8px;
}

.context-menu::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
  border-radius: 8px;
}
