# Systemd unit file for box api jar
[Unit]
Description=Box API Jar Start Stop Service
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/box/scripts/services/boxapi.sh start
ExecStop=/box/scripts/services/boxapi.sh stop
Restart=always
User=root
Group=box

[Install]
WantedBy=multi-user.target
