# Systemd unit file for box ui
[Unit]
Description=Box UI Start Stop Service
After=syslog.target network.target

[Service]
Environment=NODE_PORT=37080
Type=simple
ExecStart=/box/scripts/services/boxui.sh start
ExecStop=/box/scripts/services/boxui.sh stop
Restart=on-failure
User=root
Group=

[Install]
WantedBy=multi-user.target
