.ps__thumb-y {
  width: 6px;
  right: 0;
}

.ps__thumb-x {
  height: 6px;
  bottom: 0;
}

.ps__rail-x {
  height: 8px;
}

.ps__rail-y {
  width: 8px;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  z-index: 100;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 7px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  height: 7px;
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: transparent;
}

.visible .ps__thumb-x,
.visible .ps__thumb-y {
  background-color: #ffa400;
}

.visible .ps__rail-y,
.visible .ps__rail-x  {
  opacity: 1;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: .9;
}

.ps--scrolling-x .ps__thumb-x ,
.ps--scrolling-y .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x  {
  background-color: #ffa400;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking, 
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: 1;
}
